@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
* {
  box-sizing: border-box;
  /* border:1px red solid; */
}
.header {
  background-color: #212121;
  height: 67px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 27px;
  margin-bottom: 15px;
}
.header__img {
  width: 32px;
  height: 32px;
}
.header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #fff;
  margin-left: 9px;
}
.contacts {
  max-width: 1440px;
  margin: auto;
}
.contacts__list {
  margin: auto;
  max-width: 1155px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 250px;
  height: 303px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.25);
  border-radius: 4px;
  margin-bottom: 42px;
  overflow: hidden;
}
.card__img {
  height: 134px;
  width: 100%;
}
.card__info {
  padding-left: 9px;
  padding-right: 9px;
  font-style: normal;
  font-weight: bold;
}
.card__info-mini {
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  display: flex;
  flex-flow: column;
}
.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23px;
  margin-bottom: 9px;
}
.card__fullName {
  font-size: 18px;
}
.card__info img {
  margin-right: 5px;
}
.card__info span {
  margin-bottom: 3px;
}
.card__show-btn {
  margin-left: auto;
  color: #fff;
  width: 95px;
  height: 21px;
  background: #212121;
  border-radius: 2px;
}
.card__show-btn p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
.card__fav {
  width: 17px;
  height: 15px;
  cursor: pointer;
}
.navbar {
  padding: 32px;
  max-width: 1155px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
@media(max-width:700px){
  .navbar{
    justify-content: space-evenly;
  }
}
.navbar__search {
  width: 530px;
  height: 40px;
  padding: 10px;
  padding-left: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.35);
  border-radius: 2px;
}
.navbar__sort img{
  width: 40px;
  height: 40px;
  margin-left:17px;
  cursor: pointer;
}
.navbar__selected{
  background-color: skyblue;
}